[Unit]
Description=Shitty GPU Governor

[Service]
StandardOutput=null
StandardError=journal
ExecStart=/home/systemd-scripts/gpu-governor.sh

[Install]
WantedBy=multi-user.target
