[Unit]
Description=Custom power profiles I guess

[Service]
Type=simple
ExecStartPre=sleep 3
ExecStart=/usr/bin/power-profiles
#StandardOutput=file:/var/log/power-profiles.log
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
